IMG.center{
display: block;
margin-left: auto;
margin-right: auto;
margin-top:150px;
}
.buttonHolder{ 
padding-top:10px;
text-align: center; 
}

.boxed{
margin-top:10px;
height: 44px;
width: 500px;
background-color: #fff;
height: 44px;
vertical-align: top;
border-radius: 2px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.img{
	display: block;
	margin-top:-34px;
	margin-left: 460px;
}

.mytext {
	display: block;
	margin-top:14px;
    width: 420px;
    border: medium none;

	padding: 5px;
	outline: small none;
	font: 16px arial,sans-serif;
	line-height: 14px;
	height: 34px !important;
	white-space: nowrap;
}
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
 
}

li {
    float: right;
    display: block;
    padding: 8px;
    font-size: 13px;

}

li a{


	color:black;
	opacity: .75;
	text-decoration: none;
}

li a:hover{

opacity: 0.85;
text-decoration:underline;
}

IMG.li a:hover{


	opacity:1;
}
#btn_s{


margin: 10px 3px;
background-color: #f5f5f5;
border: 1px solid #f5f5f5;
color: #737373;
padding: 10px 15px;
text-align: center;
text-decoration: none;
font-weight: bold;
display: inline-block;
font-size: 13px;
border-radius: 2px;

}
#btn_s:hover{
color:black;
background-color: #f8f8f8;
border: 1px solid #c6c6c6;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
#btn_i{


margin: 10px 3px;
background: #f2f2f2;
border: 1px solid #f5f5f5;
color: #737373;
padding: 10px 15px;
text-align: center;
text-decoration: none;
font-weight: bold;
display: inline-block;
font-size: 13px;
border-radius: 2px;
}
#btn_i:hover{
color:black;
background-color: #f8f8f8;
border: 1px solid #c6c6c6;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}